*{
    margin: 0;
    padding: 0;
}

.buttonsname{
    display: flex;
    /* grid-template-columns: repeat(4,1fr); */
    justify-content: space-around;
    /* border: 3px solid red; */
    padding: 5px 0px;
    /* width: 90%; */
    margin: auto;
    /* background-color:light dark; */
    /* background-image: linear-gradient(135deg, rgb(45, 45, 45) 10%, rgb(0, 0, 0) 100%); */

}

.buttonsname button{
    font-size: 17px;
    font-weight: 600;
    /* border: 3px solid red; */

    display: flex;
    justify-content: center;
    align-items: center;
    /* width: 50%; */
    padding: 10px 30px;
    cursor: pointer;
    

}


button:hover{
    background-color:black ;
    color:white;
    border: 2px solid white;
    border-radius: 10px;
    transition: 0.4s all ease-in-out;
}



.text{
   
    width: 90%;
    margin: auto;
    display: flex;
    /* padding-top: 50px; */
    
}

textarea{
    border: 1px solid black;
    outline: none;
    padding: 20px;
}

.first{
    /* background-image: linear-gradient(135deg, rgb(69, 68, 68) 10%, rgb(0, 0, 0) 100%); */
    background-color: rgb(37, 37, 37);
    color: white;
    font-size: 20px;
    font-weight: 500;
}

.second{
    /* background-image: linear-gradient(135deg, rgb(69, 68, 68) 10%, rgb(0, 0, 0) 100%); */
    /* background-color: rgb(37, 37, 37); */
    color: black;
    font-size: 20px;
    font-weight: 500;
    background-color: white;
    /* border: 3px solid red; */
    padding-left: 25px;
    padding-top: 20px;
}

h1{
    text-align: center;
    /* color: rgb(234, 243, 74); */
    font-size: 55px;
    margin-bottom: 10px;
    color: rgb(8, 135, 135);
}

h3{
    margin-bottom: 20px;
    
}

.a{
    display: block;
}

.b{
    display: none;
}


select{
    padding: 10px 15px;
    font-size: 17px;
    font-weight: 600;
    cursor: pointer;
    outline: none;
    border-radius: 8px;
    color-scheme: black;
}

span{
    cursor: pointer;
}

option{
    font-size: 17px;
    font-weight: 600;
    outline: none;
    /* color-scheme: black; */
}

.clear:hover{

      background-color: rgb(6, 92, 25);
      /* color: black; */
}